body {
  margin: 0;
  text-align: center;
  font-family: "Roboto Serif";
}

h1 {
  font-size: 3.625rem;
  margin-top: 0;
  width: 10%;
  margin: 0 auto;
  font-family: "IBM Plex Mono";
  font-weight: bolder;
}

h2 {
  font-family: "Roboto Serif";
  color: #03506F;
  font-weight: 200;
}

h3 {
  color: #03506F;
}

hr {
  border: dotted #9D9D9D 6px;
  border-bottom: none;
  width: 4%;
}

.top-container {
  background-color: #93B5C6;
  text-align: center;
  position: relative;
}

.middle-container {
  background-color: #EDE6DB;
  width: 100%;
  position: relative;
}

.bottom-container {
  background-color: #93B5C6;
  position: relative;
  padding: 50px 0 20px;
}

span {
  color: #EDE6DB;
}

.cloud {
  position: relative;
  right: 450px;
  top: 50px;
  width: 25%;
}

.cloud1 {
  position: relative;
  left: 450px;
  bottom: 130px;
  width: 25%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
}

.ux-img {
  width: 15%;
  float: left;
  margin-left: 30px;
  clear: left;
}

.sql-img {
  width: 15%;
  float: right;
  margin-right: 30px;
}

.swift-img {
  width: 15%;
  float: right;
  margin-right: 30px;
}

.ux-description {
  bottom: 40px;
  color: #E3B04B;
  display: inline;
}

.sql-description {
  color: #5584AC;
  display: inline;
}

.swift-description {
  color: #E8630A;
  display: inline;
}

.contact-description {
  width: 40%;
  margin: 40px auto 60px;
  line-height: 2;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  background: #424874;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #A6B1E1;
  text-decoration: none;
}

a {
  font-family: "Roboto Serif";
  color: #EDE6DB;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #0A043C;
}

.bottom-name {
  font-family: "Roboto Serif";
  color: #EDE6DB;
}
