/* <!-- *********** About me page ***********   --> */
.first-section {
  text-align: center;
  width: 100%;
}
.contact-section {
  text-align: center;
}
.social-links {
  background-color:#F7F6F2;
}

#page {
  padding: 3% 7%;
  background-color: #EDE6DB;
}

/* <!-- *********** NavBar ***********   --> */
.nav-bar {
  font-family: "Roboto Slab";
  background-color: #EDE6DB;
  padding-bottom: 10px;
  padding-top: 10px;
  padding: 1 1 1rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}
/* <!-- Profile card  --> */
.my-profile {
  text-align: center;
  padding: 7%;
}
.profile-page {
  position: relative;
  align-self: center;
  text-align: center;
}
.myimage {
  width: 100%;
}

/* <!-- Skills section  --> */
#box {
  padding: 7% 15%;
}
.feature-box {
  text-align: left;
  padding: 7%;
}

/* <!-- *********** Text ***********   --> */

body {
  margin: 0;
  text-align: center;
  font-family: "Cultive Mono";
}

h1 {
  font-family: "Roboto Mono";
  color: #EDE6DB;
}

h2 {
  font-family: "Cultive Mono";
  color: #03506F;
  font-weight: 200;
  text-align: center;
}

h3 {
  color: #03506F;
  font-family: "Roboto Slab"
}

span {
  color: #EDE6DB;
}
p {
  font-family: "Raleway";
  color: #1A374D;
}

/* <!-- Images --> */

.icon {
  color: #03506F;
  margin-bottom: 1rem;
}
.profile-picture {
width: 70%;
display: block;
text-align: center;
}

/* <!-- *********** Project page ***********   --> */
.work-heading {
  color: #EDE6DB;
  width: 100%;
  font-family: "Roboto Slab";
}
.black-page {
  color: #EDE6DB;
}
.decoration {
  width: 50%;
}
.first-project-block {
  background-color:#F7F6F2;
}
.other-blocks {
  background-color: #EDE6DB;
}
/* <!-- *********** Notes page  ***********   --> */
.heading {
  background-color: #03506F;
  text-align: center;
}
.news {
  padding: 0 4%;
}
